<?xml version="1.0"?>
<model>
  <name>sign_restaurant</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>daniel</name>
    <email>yeyi58095@gmail.com</email>
  </author>

  <description>
    Simple sign with restaurant for bed landmark.
  </description>
</model>
